@import '~styles/_includes.scss';

.AppointmentCard {
  width: 100%;
  height: 160px;
  padding: 19px 20px 0;
  background: #fff;
  border-radius: 4px;
  position: relative;

  .bold-title {
    @include proximanova-semibold;
    font-size: 16px;
    display: block;
  }

  .count {
    @include proximanova-semibold;
    font-size: 32px;
    position: absolute;
    top: 18px;
    right: 20px;
  }

  .data-statistics {
    margin: 22px 0 18px;

    // colors
    .requested {
      background: #f07acc;
    }

    .reserved {
      background: #f6a934;
    }

    .confirmed {
      background: #57a6e6;
    }

    .in-progress {
      background: #1176c8;
    }

    .complete {
      background: #18a691;
    }

    .incomplete {
      background: #ecf0f5;
    }

    .canceled {
      background: #ff434a;
    }

    .status {
      line-height: 20px;
    }

    .chart {
      display: flex;
      height: 12px;
      margin: 10px 0 12px;
      position: relative;
      .chart-item {
        width: auto;
        height: 12px;
        cursor: pointer;
        position: relative;
        &:first-child {
          border-radius: 6px 0 0 6px;
        }
        &:last-child {
          border-radius: 0 6px 6px 0;
        }
        &:hover {
          .hint {
            display: flex;
          }
        }

        .hint {
          display: none;
          font-size: 12px;
          color: #fff;
          padding: 0 10px;
          height: 24px;
          border-radius: 4px;
          background: rgba($color: #000000, $alpha: 0.8);
          transform: translateX(-50%);
          white-space: nowrap;
          position: absolute;
          bottom: 20px;
          left: 50%;
          &:before {
            content: '';
            display: block;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 4px 4px 0 4px;
            border-color: rgba($color: #000000, $alpha: 0.8) transparent transparent transparent;
            position: absolute;
            bottom: -4px;
            left: calc(50% - 4px);
          }
        }
      }
    }

    .legends {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      height: 42px;

      .legend-item {
        display: flex;
        align-items: center;
        height: 21px;
        margin-right: 15px;

        .dot {
          display: block;
          width: 8px;
          height: 8px;
          margin-right: 5px;
          border-radius: 50%;
        }

        .name {
          font-size: 11px;
        }
      }
    }
  }
}
