@import '~styles/_includes.scss';

.modal-reserve-apt {
  .modal-container {
    display: block;
    width: 530px;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, .1);
    padding: 30px;
    margin: 0 auto;
    position: relative;
  
    .group-title {
      padding-bottom: 20px;
      border-bottom: 1px solid #ecf0f5;
      position: relative;
  
      .big-title {
        @include proximanova-bold;
        line-height: 32px;
        font-size: 24px;
        margin-bottom: 0;
        padding: 0;
        display: block;
      }
  
      .status {
        @include proximanova-semibold;
        line-height: 32px;
        font-size: 16px;
        margin-bottom: 0;
        display: block;
      }
  
      .sub-status {
        line-height: 32px;
        font-size: 13px;
        color: #585864;
        margin-bottom: 0;
        display: block;
      }
  
      .btn-close {
        position: absolute;
        top: 10px;
        right: 0;
        z-index: 5;
      }
    }
  
    .details {
      .rows {
        .row-item {
          display: flex;
          align-items: center;
          min-height: 36px;
          border-bottom: 1px solid #ecf0f5;
  
          .wrap {
            padding: 10px 0;
  
            span {
              display: block;
            }
          }
  
          .row-item-name {
            min-width: 175px;
            font-size: 13px;
            color: #292933;
          }
  
          .row-item-value {
            font-size: 13px;
            color: #292933;
  
            &.gray-text {
              color: #9494a8;
              margin-top: 8px;
            }
          }
        }
      }
    }
  
    .buttons {
      display: flex;
      justify-content: space-between;
      height: 36px;
      margin-top: 30px;
  
      .btn-back {
        @include proximanova-bold;
        font-size: 14px;
        height: 36px;
        border-radius: 4px;
        color: #fff;
        background: #1176c8;
        width: 115px;
        cursor: pointer;
        margin: 0 auto;
  
        &:hover {
          background: #1584de;
        }
      }
    }
  }
}