.landing-page {
  display: flex;
  justify-content: center;
  height: calc(100vh - 100px);
  padding-top: 100px;
  h1 {
    font-size: 40px;
    padding-bottom: 15px;
  }

  ul {
    li {
      list-style: none;
      padding-bottom: 15px;

      button {
        border: none;
        background-color: transparent;
        color: blue;
        font-size: 16px;
        text-decoration: underline !important;
      }
    }
  }
}
