@import '~styles/_includes.scss';

.modal-container {
  display: block;
  width: 530px;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, .1);
  padding: 30px 0;
  margin: 0 auto;
  position: relative;
  .btn-close {
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 10;
  }
  .big-title {
    @include proximanova-bold;
    line-height: 32px;
    font-size: 24px;
    margin-bottom: 12px;
    padding: 0 30px;
    display: block;
  }
  .modal-container__body {
    max-height: 480px;
    padding: 20px 30px 0;
    border-top: 1px solid #ecf0f5;
    overflow-y: auto;
    .section-one {
      .section-title {
        @include proximanova-semibold;
        line-height: 32px;
        font-size: 16px;
      }
      p {
        margin: 0;
        padding: 0;
        line-height: 24px;
        font-size: 13px;
        color: #292933;
        margin-bottom: 10px;
      }
    }
  }
}
