@import "~styles/_includes.scss";


.title {
  @include proximanova-bold;

  margin: 23px auto 24px 33px;
  font-size: 24px;
  line-height: 29px;
  color: $black;
}

.container-1 {
  padding: 20px 33px;
  background: $gray-bg;
}

.content-container {
  background: white;
  border-radius: 4px;
  padding: 20px;
}

.pending-actions {
  @include proximanova-semibold;

  font-size: 16px;
  line-height: 16px;
}

.search-container {
  border: 1px solid $gray-border-dark;
  border-radius: 4px;
  width: 360px;
  height: 36px;
  margin-right: 10px;
  overflow: hidden;
  padding: 0 10px;

  .search-icon {
    margin-right: 10px;
  }

  .search-input {
    font-size: 13px;
    line-height: 13px;
  }
}

.table {
  margin-top: 20px;

  thead {
    tr {
      th {
        padding: 12px 20px 11px;
        border: none;
        background: $gray-dark-bg;
        cursor: pointer;

        * {
          @include proximanova-semibold;

          font-size: 13px;
          line-height: 13px;
          color: white;
        }

        .asc {
          position: relative;

          &::after {
            content: "";
            display: flex;
            width: 0;
            height: 0;
            border-left: 4px solid transparent;
            border-right: 4px solid transparent;
            border-bottom: 4px solid white;
            margin-bottom: 2px;
            position: absolute;
            top: 2px;
            right: -18px;
          }
        }

        .desc {
          position: relative;

          &::after {
            content: "";
            display: flex;
            width: 0;
            height: 0;
            border-left: 4px solid transparent;
            border-right: 4px solid transparent;
            border-top: 4px solid white;
            position: absolute;
            top: 4px;
            right: -18px;
          }
        }

        &:first-child {
          border-radius: 4px 0 0 4px;
        }

        &:last-child {
          border-radius: 0 4px 4px 0;
        }
      }
    }
  }

  tbody {
    tr {
      &:nth-child(even) {
        background-color: $gray-bg;
      }

      td {
        @include proximanova;

        font-size: 13px;
        line-height: 16px;
        padding: 10px 20px;
        border: none;

        span {
          margin-bottom: 5px;

          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}

.bottom {
  padding: 0 20px;
}

