@import "~styles/_includes.scss";
@import "~styles/mixins/_input.scss";

.box-filter {
  width: 300px;
  height: auto;
  padding: 15px 20px;
  background: #fff;
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, .1);
  position: absolute;
  top: -8px;
  right: -31px;
  z-index: 10;

  .title-box {
    display: block;
    margin-bottom: 25px;
    font-size: 14px;
    @include proximanova-bold;
    text-transform: capitalize;
  }

  .click-close {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;

    img {
      display: block;
      width: 16px;
    }
  }

  .list-input {
    margin-bottom: 20px;

    .item-list {
      margin-bottom: 15px;

      .name {
        display: block;
        @include proximanova-semibold;
        margin-bottom: 5px;
        text-transform: capitalize;
      }

      .cover-input {
        width: 100%;
        height: 32px;
        position: relative;

        input {
          @include inputText(13px, #292933, #9494A8);
          padding: 0 12px;
          border: 1px solid #D4D4D4;
          border-radius: 4px;

        }

        .click-calen {
          display: block;
          width: 16px;
          height: 16px;
          position: absolute;
          top: calc(50% - 8px);
          right: 12px;
          cursor: pointer;

          img {
            display: block;
            width: 16px;
          }
        }
      }
    }
  }

  .buttons {
    display: flex;
    justify-content: space-between;

    .btn-clear {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100px;
      height: 36px;
      font-size: 14px;
      @include proximanova-semibold;
      color: #1176C8;
      background: #fff;
      border-radius: 4px;
      border: none;
      outline: none;
      text-transform: capitalize;
      position: relative;

      &:hover {
        opacity: 0.8;
      }
    }

    .btn-apply {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 75px;
      height: 36px;
      font-size: 14px;
      @include proximanova-semibold;
      color: #fff;
      background: #1176C8;
      border-radius: 4px;
      border: none;
      outline: none;
      text-transform: capitalize;
      position: relative;

      &:hover {
        opacity: 0.8;
      }
    }
  }


}