@import '~styles/_includes.scss';

.modal-cancel-apt {
  .modal-container {
    width: 360px;
    height: 214px;
    padding: 30px;
    margin: 0 auto;
    position: relative;
    .big-title {
      @include proximanova-bold;
      line-height: 32px;
      font-size: 24px;
      margin-bottom: 0;
      padding: 0;
      display: block;
    }
    .warning {
      @include proximanova-semibold;
      line-height: 32px;
      font-size: 16px;
      margin-bottom: 52px;
      display: block;
    }
    .buttons {
      display: flex;
      justify-content: space-between;
      height: 36px;
      .style-btn {
        @include proximanova-bold;
        font-size: 14px;
        height: 36px;
        border-radius: 4px;
        color: #fff;
        background: #d5151c;
        width: 104px;
        cursor: pointer;
        &:hover {
          background: #f3363d;
        }
        &.btn-no {
          width: 50px;
          background: #f2f5fa;
          color: #1176c8;
          width: 50px;
          &:hover {
            background: #e7edf8;
          }
        }
      }
    }
  }
}
