@import '~styles/_includes.scss';

.appointment-table {
  // %col
  .col01 {
    width: 17.59%;
    padding-left: 20px;
  }
  .col02 {
    width: 13.17%;
  }
  .col03 {
    width: 16.06%;
  }
  .col04 {
    width: 19.37%;
  }
  .col05 {
    width: 11.67%;
  }
  .col06 {
    width: 8.17%;
  }
  .col07 {
    width: 9.68%;
  }

  // colors
  .requested {
    background: #f07acc;
  }
  .reserved {
    background: #f6a934;
  }
  .confirmed {
    background: #57a6e6;
  }
  .in-progress {
    background: #1176c8;
  }
  .complete {
    background: #18a691;
  }
  .incomplete {
    background: #ecf0f5;
  }
  .canceled {
    background: #ff434a;
  }

  table,
  thead,
  tbody,
  tr {
    width: 100%;
  }

  thead {
    tr {
      height: 36px;
      th {
        height: 36px;
        background: #4e4e5d;
        vertical-align: middle;
        &.col01 {
          border-radius: 4px 0 0 4px;
        }
        &.col08 {
          border-radius: 0 4px 4px 0;
        }

        .name-col {
          height: 100%;
          display: flex;
          align-items: center;
          &.active {
            .symbol {
              border-width: 0 4px 4px 4px;
              border-color: transparent transparent #ffffff transparent;
            }
          }
          .text {
            @include proximanova-semibold;
            font-size: 13px;
            color: #fff;
            height: 100%;
            display: flex;
            align-items: center;
            cursor: pointer;
          }
          .symbol {
            display: block;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 4px 4px 0 4px;
            border-color: #ffffff transparent transparent transparent;
            margin-left: 10px;
          }
        }
      }
    }
  }
  tbody {
    tr {
      &:nth-child(even) {
        background: rgba(245, 245, 245, 0.5);
      }

      td {
        position: relative;
        &.col03 {
          .group-technician {
            position: relative;
            .value {
              cursor: pointer;
            }
            .value:hover + .tooltip-technician {
              display: block;
            }
          }
        }
        &.col04 {
          .value {
            display: inline-block;
            &:first-child {
              margin-bottom: 8px;
            }
            .bold {
              @include proximanova-semibold;
              display: inline-block;
              min-width: 58px;
              text-transform: uppercase;
            }
          }
          .group-datetime {
            padding: 12px 0;
            position: relative;
            .current-content {
              cursor: pointer;
            }
            .current-content:hover + .tooltip-datetime {
              display: block;
            }
          }
        }
        &.col08 {
          .group-action {
            width: 40px;
            height: 34px;
            position: relative;
            top: 4px;
            .btn-menu {
              width: 40px;
              height: 34px;
              cursor: pointer;
            }
          }
        }
      }

      .value {
        font-size: 13px;
        color: #585864;
        &.id {
          @include proximanova-semibold;
          color: #1176c8;
          cursor: pointer;
          &:hover {
            color: #1584de;
          }
        }
      }
      .status {
        display: flex;
        align-items: center;
        .dot {
          display: block;
          width: 8px;
          height: 8px;
          margin-right: 8px;
          border-radius: 50%;
        }
        .name {
          font-size: 13px;
          color: #585864;
        }
      }
      .style-tooltip {
        border-radius: 4px;
        background: #fff;
        border: 1px solid #d4d4d4;
        box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.05);
        overflow: hidden;
        position: absolute;
        z-index: 5;
      }
      .tooltip-technician {
        display: none;
        width: 150px;
        padding: 18px 0 18px 16px;
        top: 23px;
        left: 8px;
        .bold-title {
          @include proximanova-semibold;
          font-size: 14px;
          margin-bottom: 16px;
          display: block;
        }
        .members {
          display: flex;
          flex-direction: column;
          .member {
            font-size: 13px;
            color: #585864;
            margin-bottom: 15px;
            &:last-child {
              margin-bottom: 0;
            }
          }
        }
      }
      .tooltip-datetime {
        display: none;
        width: 220px;
        height: 120px;
        padding-top: 19px;
        padding-left: 16px;
        top: 35px;
        left: 50%;
        .bold-title {
          @include proximanova-semibold;
          font-size: 14px;
          margin-bottom: 6px;
          display: block;
        }
        .bold-subtitle {
          font-size: 13px;
          color: #585864;
          margin-bottom: 16px;
          display: block;
        }
        .current-child-content {
          .value {
            display: inline-block;
            font-size: 13px;
            color: #585864;
            &:first-child {
              margin-bottom: 8px;
            }
            .bold {
              @include proximanova-semibold;
              display: inline-block;
              min-width: 58px;
              color: #585864;
              text-transform: uppercase;
            }
          }
        }
      }
      .tooltip-actions {
        display: block;
        width: 220px;
        height: 128px;
        padding-top: 20px;
        padding-left: 14px;
        top: 30px;
        right: 10px;
        .item {
          display: flex;
          align-items: center;
          margin-bottom: 20px;
          cursor: pointer;
          &.last {
            margin-bottom: 0;
          }
          .name {
            font-size: 13px;
            color: #585864;
            margin-left: 10px;
          }
        }
      }
    }
  }
}
