@import '~styles/_includes.scss';

.component-container {
  width: 100%;
  height: 60px;
  padding: 0;
  background: white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
}

.wrapAll {
  min-width: 1349px;
  max-width: 1349px;
  margin: 0 auto;
}

.middle-link {
  margin-top: 6px;
  margin-left: 20px;
  margin-right: 20px;

  a {
    color: $gray-dark;
    margin-right: 29px;
    &:hover {
      color: $blue-light;
    }

    &:last-child {
      margin-right: 0;
    }

    &.is-active {
      color: $blue-light;
    }
  }
}

.username {
  @include proximanova-semibold;

  font-size: 15px;
  line-height: 15px;
  margin-bottom: 2px;
  color: $blue-light;
  white-space: nowrap;
}

.job-title {
  font-size: 12px;
  line-height: 15px;
  white-space: nowrap;
}

.avatar {
  @include proximanova-bold;

  font-size: 14px;
  line-height: 17px;
  color: white;
  width: 32px;
  height: 32px;
  background: $blue-light;
  border-radius: 50%;
  margin-left: 10px;
  margin-right: 15px;
  flex-shrink: 0;
}

.separator {
  width: 1px;
  height: 30px;
  background: $gray-border;
  margin-right: 14px;
}

.group-noti {
  width: 16px;
  height: 16px;
  cursor: pointer;
  margin-right: 15px;
  position: relative;
  &.reset-margin {
    margin: 0;
  }

  img:first-of-type {
    display: block;
  }
  img:last-of-type {
    display: none;
  }

  &:hover {
    img:first-of-type {
      display: none;
    }
    img:last-of-type {
      display: block;
    }
    .tooltip-noti {
      display: flex;
    }
  }

  .tooltip-noti {
    display: none;
    width: 84px;
    height: 24px;
    background: #000;
    border-radius: 4px;
    overflow: hidden;
    font-size: 12px;
    color: #fff;
    position: absolute;
    top: 25px;
    right: 0;
    z-index: 5;
  }
}

.group-help {
  width: 16px;
  height: 16px;
  cursor: pointer;
  position: relative;
  &.reset-margin {
    margin: 0;
  }

  img:first-of-type {
    display: block;
  }
  img:last-of-type {
    display: none;
  }

  &:hover {
    img:first-of-type {
      display: none;
    }
    img:last-of-type {
      display: block;
    }
    .tooltip-help {
      display: flex;
    }
  }

  .tooltip-help {
    display: none;
    width: 42px;
    height: 24px;
    background: #000;
    border-radius: 4px;
    overflow: hidden;
    font-size: 12px;
    color: #fff;
    position: absolute;
    top: 25px;
    right: 0;
    z-index: 5;
  }
}

.user-info {
  height: 60px;
  cursor: pointer;
  position: relative;
  &:hover {
    .tooltip-user {
      display: block;
    }
  }

  .tooltip-user {
    display: none;
    width: 180px;
    border-radius: 4px;
    background: #fff;
    border: 1px solid #d4d4d4;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.05);
    overflow: hidden;
    position: absolute;
    top: 50px;
    right: 30px;
    z-index: 5;
    &:hover {
      display: block;
    }
    .overview {
      display: flex;
      flex-direction: column;
      padding: 15px 0 10px 15px;
      .idd {
        @include proximanova-semibold;
        line-height: 24px;
        font-size: 16px;
      }
      .name {
        @include proximanova-semibold;
        line-height: 24px;
        font-size: 14px;
      }
      .location1,
      .location2 {
        line-height: 20px;
        font-size: 13px;
        color: #585864;
      }
    }
    .logout {
      display: flex;
      align-items: center;
      height: 46px;
      padding-left: 15px;
      font-size: 13px;
      color: #585864;
      border-top: 1px solid #ecf0f5;
      img {
        margin-right: 15px;
      }
      .btn-logout {
        padding: 14px 0;
        cursor: pointer;
      }
    }
  }
}

@media (max-width: 1348.98px) {
  .wrapAll {
    min-width: 0;
    max-width: 100%;
    margin: initial;
    width: 100%;
    padding: 0 30px;
  }
}
