// buttton
.btn {
  @include proximanova-bold;

  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 16px;
  height: 36px;
  font-size: 14px;
  line-height: 17px;
  box-shadow: none !important;

  img {
    margin-right: 10px;
  }

  &.btn-info {
    background-color: $cyan;
  }

  &.btn-danger {
    background-color: $red;
  }

  &.btn-primary {
    background-color: $blue-light;
  }

  &.btn-link {
    height: 13px;
    color: $blue-light;
    padding: 0;
    font-size: 13px;
    line-height: 13px;
  }

  &.btn-light {
    color: $blue-light;
  }
}

// pagination
.pagination {
  margin: 0;

  .page-item {
    .page-link {
      @include proximanova;

      font-size: 13px;
      line-height: 17px;
      padding: 0;
      border: none;
      width: 16px;
      height: 16px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      margin: 0 2px;
      color: $gray-placeholder;
      background: white;
      box-shadow: none;
    }

    &.active {
      .page-link {
        color: white;
        background: $blue-light;
      }
    }

    &.disabled {
      svg {
        path {
          stroke: rgba($color: $pink, $alpha: 0.2);
        }
      }
    }
  }
}

// dropdown
.dropdown {
  .dropdown-toggle {
    @include proximanova;

    font-size: 13px;
    line-height: 16px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 12px;
    background: white !important;
    color: $gray-placeholder !important;
    border: 1px solid $gray-border-dark;
    box-shadow: none;
  }

  .dropdown-menu {
    .dropdown-item {
      @include proximanova;

      padding-left: 12px;
      padding-right: 12px;
      font-size: 13px;
      line-height: 16px;
    }
  }
}

// modal
.modal {
  .modal-dialog {
    margin-top: 136px;

    .modal-content {
      .modal-body {
        padding: 30px;
      }
    }
  }
}

// form
form {
  .form-group {
    margin-bottom: 25px;

    .form-label {
      @include proximanova;

      font-size: 13px;
      line-height: 16px;
      margin-bottom: 8px;

      &.required {
        position: relative;

        &::after {
          content: "*";
          position: absolute;
          color: $red;
          top: 0;
          right: -7px;
          display: flex;
        }
      }
    }

    textarea {
      @include proximanova;

      font-size: 13px;
      line-height: 16px;
      margin-bottom: 8px;
      padding: 10px 12px;
    }
  }
}
