// page common style
html {
  min-height: 100%;

  body {
    @include proximanova;

    overflow: hidden;
    font-size: 13px;
    line-height: 16px;
    overflow: auto;
    color: $gray-dark;

    * {
      @include proximanova;
      box-sizing: inherit;
      color: $gray-dark;
    }

    a:hover {
      text-decoration: none;
    }

    input {
      @include proximanova;

      outline: none;
      border: none;
      padding: 0;
      margin: 0;
    }

    ::-webkit-input-placeholder { /* Edge */
      color: $gray-placeholder !important;
    }

    :-ms-input-placeholder { /* Internet Explorer 10-11 */
      color: $gray-placeholder !important;
    }

    ::placeholder {
      color: $gray-placeholder !important;
    }
  }
}

.flex-1 {
  flex: 1;
}

.center-child {
  display: flex;
  align-items: center;
  justify-content: center;
}

.full-width {
  width: 100%;
}

.flip-horizontal {
  transform: scale(-1, 1);
}

.flip-vertical {
  transform: scale(1, -1);
}

input,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  vertical-align: middle;
  outline: 0;
}

input {
  border: 0;
  outline: 0;
  margin: 0;
  padding: 0;
  color: $black;
  line-height: 1;
  font-style: normal;
  vertical-align: baseline;
  background: transparent;
}

input[type='checkbox'],
input[type='radio'] {
  margin: 0;
  padding: 0;
  text-indent: -9999px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  position: absolute;
  left: -9999px;
}

input:focus::-webkit-input-placeholder,
input:focus:-moz-placeholder,
input:focus::-moz-placeholder,
input:focus:-ms-input-placeholder,
textarea:focus::-webkit-input-placeholder,
textarea:focus:-moz-placeholder,
textarea:focus::-moz-placeholder,
textarea:focus:-ms-input-placeholder {
  color: transparent;
}

input[type='search']::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}
input[type='search']::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  display: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  li {
    list-style-type: none;
  }
}

.react-datepicker-wrapper {
  display: block;
  width: 100%;
  height: 100%;

  .react-datepicker__input-container {
    height: 100%;

    input {
      padding-right: 38px;
    }
  }
}

.react-datepicker__tab-loop {
  .react-datepicker-popper {
    .react-datepicker {
      border: none;
      border-radius: 0;

      * {
        @include proximanova;
      }

      .react-datepicker__triangle {
        &:before {
          border-bottom-color: #f0f0f0;
        }
      }

      .react-datepicker__navigation {
        width: 8px;
        height: 14px;
        border: none;
        top: 12px;
        outline: none;

        &.react-datepicker__navigation--previous {
          background-image: url(../../assets/icons/ic-arow-back-thin.svg);
          left: 17px;
        }

        &.react-datepicker__navigation--next {
          background-image: url(../../assets/icons/ic-arow-next-thin.svg);
          right: 17px;
        }
      }

      .react-datepicker__month-container {
        .react-datepicker__header {
          background-color: transparent;
          border: none;
          padding: 0;

          .react-datepicker__current-month {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 39px;
            font-size: 14px;
            color: #000000;
            border-radius: 4px;
            background-color: #F2F5FA;
          }

          .react-datepicker__day-names {
            margin-top: 12px;

            .react-datepicker__day-name {
              width: 32px;
              line-height: 19px;
            }
          }
        }

        .react-datepicker__month {
          .react-datepicker__week {
            .react-datepicker__day {
              width: 32px;
              height: 32px;
              line-height: 19px;
              outline: none;

              span {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 100%;
                color: #292933;
                font-size: 14px;
              }

              &.react-datepicker__day--keyboard-selected,
              &.react-datepicker__day--selected {
                background-color: #0478B7;
                border-radius: 50%;

                span {
                  color: #FFFFFF;
                }

                &:hover {
                  background-color: #0478B7;

                  span {
                    color: #FFFFFF;
                  }
                }
              }

              &.react-datepicker__day--outside-month {
                span {
                  font-size: 15px;
                  color: #AAAAAA;
                }
              }

              &:hover {
                background-color: #F2F5FA;
                border-radius: 50%;

                span {
                  color: #1176C8;
                  @include proximanova-semibold;
                }
              }
            }
          }
        }
      }
    }
  }
}

.modal {
  padding-left: 0 !important;
  .modal-dialog {
    max-width: none;
    margin: 0 !important;
    .modal-content {
      background-color: transparent;
      border: none;
      border-radius: 0;
      box-shadow: none;
    }
  }
}