@import '~styles/_includes.scss';

.component-container {
  width: 100%;
  height: 40px;
  background: $black;
  padding: 0 33px 0 31px;
}

.wrapAll {
  min-width: 1349px;
  max-width: 1349px;
  margin: 0 auto;
}

.right-link {
  span {
    color: white;
    margin-left: 30px;
    cursor: pointer;
    &:hover {
      color: #1176c8;
    }
  }
}

@media (max-width: 1348.98px) {
  .component-container {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 20;
  }
  .wrapAll {
    min-width: 0;
    max-width: 100%;
    margin: initial;
    width: 100%;
  }
}
