@import '~styles/_includes.scss';
@import '~styles/mixins/_input.scss';

.new-appointment {
  width: 100%;
  min-width: 1349px;

  .top-page {
    display: flex;
    align-items: center;
    height: 76px;
    padding-left: 33px;
    background: #fff;

    .cover-top-page {
      min-width: 1349px;
      margin: 0 auto;
    }

    .title-page {
      display: block;
      font-size: 24px;
      @include proximanova-bold;
      text-transform: capitalize;
    }
  }

  // second page
  .second-page {
    width: 100%;
    padding-bottom: 60px;
    background: #f5f5f5;

    .top-s-page {
      display: flex;
      justify-content: center;
      padding-top: 29px;
      margin-bottom: 52px;

      .list-timeline {
        display: inline-flex;
        margin: 0 auto;

        .item-list {
          padding-left: 128px;
          position: relative;

          &:first-child {
            padding-left: 0;

            .line-gray {
              display: none;
            }
          }

          .cover-image {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 48px;
            height: 48px;
            border-radius: 50%;
            background: #fff;
            position: relative;

            img {
              display: none;
              width: 24px;

              &.one {
                display: block;
              }

              &.two {
                display: none;
              }

              &.three {
                display: none;
              }
            }

            .name-list {
              display: block;
              white-space: nowrap;
              color: #9494a8;
              text-transform: capitalize;
              position: absolute;
              top: 59px;
              text-align: center;
            }
          }

          .line-gray {
            display: block;
            width: 105px;
            height: 1px;
            background: #d4d4d4;
            position: absolute;
            top: 24px;
            left: 12px;
          }

          &.active {
            .cover-image {
              background: #1176c8;

              img {
                &.one {
                  display: none;
                }

                &.two {
                  display: block;
                }
              }

              .name-list {
                color: #292933;
              }
            }
          }

          &.done {
            .cover-image {
              img {
                &.one {
                  display: none;
                }

                &.three {
                  display: block;
                }
              }

              .name-list {
                color: #292933;
              }
            }
          }
        }
      }
    }

    .tab-item {
      // second s page
      .cover-content {
        width: 789px;
        margin: 0 auto 20px;
        padding: 0 30px 30px;
        background: #fff;
        position: relative;
        &.edit-ver {
          .two-dots {
            display: none;
          }

          .text-right-input {
            display: none;
          }
        }

        .box-content {
          position: relative;

          .content-box {
            position: relative;

            // box-detail
            .box-detail {
              padding-top: 24px;
              padding-bottom: 5px;
              border-top: 1px solid #ecf0f5;

              .line-bottom {
                display: block;
                width: 100%;
                height: 1px;
                background: #ecf0f5;
              }

              &:nth-child(1) {
                padding-top: 15px;
                border-top: none;
              }

              .title-b-detail {
                display: flex;
                justify-content: space-between;
                padding: 6px 93px 13px 0;
                font-size: 14px;
                @include proximanova-semibold;
                text-transform: capitalize;
                position: relative;

                .sub-title {
                  font-weight: normal;
                }

                .click-delete {
                  display: flex;
                  width: 16px;
                  height: 16px;
                  position: absolute;
                  top: 6px;
                  right: 0;
                  cursor: pointer;

                  img {
                    display: block;
                    width: 16px;
                  }
                }
              }

              .first-title {
                display: block;
                padding: 6px 0 13px;
                font-size: 14px;
                @include proximanova-semibold;
                text-transform: capitalize;
              }

              .list-title {
                padding-top: 5px;

                .item-title {
                  display: flex;
                  margin-bottom: 15px;
                  padding-right: 93px;

                  .name-item {
                    width: calc(100% - 390px);
                    text-transform: capitalize;
                    position: relative;
                    top: 10px;

                    &.disabled {
                      opacity: 0.5;
                    }

                    .red-symbol {
                      display: inline-block;
                      padding-left: 3px;
                      font-size: 16px;
                      color: #d5151c;
                      position: relative;
                      top: 2px;
                    }

                    .click-noti {
                      display: inline-block;
                      width: 12px;
                      height: 17px;
                      margin-left: 5px;
                      position: relative;
                      top: 6px;
                      cursor: pointer;

                      img {
                        display: block;
                        width: 12px;
                      }

                      &:hover {
                        .noti-content {
                          display: block;
                        }
                      }
                    }

                    .noti-content {
                      display: none;
                      width: 216px;
                      padding: 15px;
                      overflow-y: auto;
                      border: 1px solid #d0d0d0;
                      border-radius: 4px;
                      background: #fff;
                      box-shadow: 0 3px 4px 2px rgba(0, 0, 0, 0.1);
                      position: absolute;
                      top: 15px;
                      left: 0;
                      z-index: 1;

                      .text-noti {
                        line-height: 20px;
                      }
                    }
                  }

                  .cover-input, .cover-input > div {
                    width: 390px;
                    height: 36px;
                    position: relative;

                    .box-datepicker {
                      &.error-ver {
                        border-color: #d5151c;
                      }
                    }

                    &.error-ver {
                      input {
                        border-color: #d5151c;
                      }
                    }

                    input, div > input {
                      @include inputText(13px, #292933, #9494a8);
                      padding: 0 12px;
                      border: 1px solid #d4d4d4;
                      border-radius: 4px;

                      &:focus {
                        border-color: #1176c8;
                      }
                    }

                    &.dropdown-ver {
                      border: none;
                    }

                    .click-search {
                      display: block;
                      width: 16px;
                      height: 16px;
                      position: absolute;
                      top: calc(50% - 8px);
                      left: 400px;
                      cursor: pointer;

                      img {
                        display: block;
                        width: 16px;
                      }
                    }

                    .click-calen {
                      display: block;
                      width: 16px;
                      height: 16px;
                      position: absolute;
                      top: calc(50% - 8px);
                      right: 12px;
                      cursor: pointer;

                      img {
                        display: block;
                        width: 16px;
                      }
                    }

                    &.calen {
                      input {
                        padding-right: 40px;
                      }
                    }

                    .list-search {
                      display: block;
                      width: calc(100% + 2px);
                      max-height: 180px;
                      overflow-y: auto;
                      background: #fff;
                      border: 1px solid #d4d4d4;
                      border-radius: 4px;
                      position: absolute;
                      top: 36px;
                      left: -1px;
                      z-index: 100;

                      .item-search {
                        width: 100%;
                        height: 36px;
                        padding: 0 11px;

                        .click-item {
                          display: flex;
                          align-items: center;
                          width: 100%;
                          height: 100%;
                          white-space: nowrap;
                          overflow: hidden;
                          text-overflow: ellipsis;
                          color: #585864;
                          cursor: pointer;
                        }

                        &:hover {
                          background: #f2f5fa;
                        }
                      }
                    }
                  }

                  .cover-check {
                    display: flex;
                    align-items: center;
                    width: 390px;
                    height: 36px;

                    .list-check {
                      display: flex;

                      .item-check {
                        margin-right: 32px;

                        &:last-child {
                          margin-right: 0;
                        }
                      }
                    }
                  }

                  .cover-checkbox {
                    display: flex;
                    padding-bottom: 10px;
                  }

                  .box-warning {
                    display: flex;
                    align-items: center;
                    width: 390px;
                    height: 36px;
                    margin-top: 4px;
                    padding: 0 10px;
                    background: #fff4c4;
                    border: 1px solid #ffe200;

                    img {
                      display: block;
                      width: 16px;
                      margin-right: 10px;
                    }
                  }

                  .box-input {
                    .cover-input {
                      margin-bottom: 15px;
                    }
                  }

                  .box-calen {
                    display: flex;
                    justify-content: space-between;
                    width: 390px;

                    .cover-input {
                      &.calendar {
                        width: 220px;
                      }

                      &.hours {
                        width: 79px;
                      }

                      &.drop-down {
                        width: 71px;
                      }
                    }
                  }

                  .cover-area {
                    width: 100%;
                    height: 86px;
                    border: 1px solid #d4d4d4;
                    border-radius: 4px;
                    position: relative;

                    textarea {
                      @include inputText(13px, #292933, #9494a8);
                      padding: 12px 8px;
                      resize: none;
                    }
                  }
                }
              }

              .box-day {
                .red-war {
                  display: none;
                  width: 390px;
                  margin-left: 246px;
                  padding: 10px 10px 7px 35px;
                  background: #ffe8ea;
                  border: 1px solid #ffc4c6;
                  border-radius: 2px;
                  position: relative;

                  img {
                    display: block;
                    width: 16px;
                    position: absolute;
                    top: 10px;
                    left: 10px;
                  }

                  .text {
                    line-height: 18px;
                  }
                }

                &.error-ver {
                  .list-title {
                    .item-title {
                      .box-calen {
                        .cover-input {
                          input {
                            border-color: #ff434a;
                            border-left: 4px solid #ff434a;
                          }

                          &.drop-down {
                            border-color: #d4d4d4;
                          }
                        }
                      }
                    }
                  }

                  .red-war {
                    display: block;
                  }
                }
              }
            }
          }

          .bottom-box {
            padding-bottom: 21px;
            border-bottom: 1px solid #ecf0f5;
            position: relative;

            .btn-contact {
              display: flex;
              align-items: center;
              justify-content: center;
              height: 36px;
              padding: 0 15px;
              font-size: 14px;
              @include proximanova-semibold;
              color: #1176c8;
              background: #f2f5fa;
              border-radius: 4px;
              border: none;
              outline: none;
              text-transform: capitalize;
              position: relative;

              &:hover {
                .list-btn {
                  display: block;
                }
              }

              &:disabled {
                opacity: 0.5;

                &:hover {
                  .list-btn {
                    display: none;
                  }
                }
              }
            }

            .list-btn {
              display: none;
              width: 280px;
              background: #fff;
              border: 1px solid #d4d4d4;
              border-radius: 4px;
              box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.1);
              overflow: hidden;
              position: absolute;
              top: 0;
              left: 0;

              .item-btn {
                width: 100%;
                height: 36px;

                &:hover {
                  background: #f2f5fa;
                }

                .click-select {
                  display: flex;
                  align-items: center;
                  width: 100%;
                  height: 100%;
                  padding: 0 11px;
                  font-weight: normal;
                  text-transform: capitalize;
                  cursor: pointer;
                }
              }
            }
          }
        }

        // top title
        .top-title {
          padding-top: 27px;
          position: relative;

          .title-box {
            display: block;
            font-size: 16px;
            @include proximanova-semibold;
            text-transform: capitalize;
          }

          .right-top {
            display: flex;
            align-items: center;
            height: 16px;
            position: absolute;
            top: 28px;
            right: 0;

            .click-item {
              display: flex;
              align-items: center;
              justify-content: center;
              width: 16px;
              height: 16px;
              margin-right: 20px;
              cursor: pointer;

              img {
                display: block;
                width: 16px;
              }
            }

            .click-expand {
              display: flex;
              align-items: center;
              justify-content: center;
              width: 16px;
              height: 16px;
              cursor: pointer;

              img {
                display: block;
                width: 16px;
              }
            }
          }
        }

        // bottom btn
        .bottom-btn {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding-top: 29px;

          .btn-cancel {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 75px;
            height: 36px;
            font-size: 14px;
            @include proximanova-semibold;
            color: #1176c8;
            background: #f2f5fa;
            border-radius: 4px;
            border: none;
            outline: none;
            text-transform: capitalize;
            position: relative;

            &:hover {
              background: #e7edf8;
            }

            img {
              display: block;
              width: 6px;
              position: absolute;
              top: calc(50% - 5px);
              right: 15px;
            }

            &.next {
              padding-right: 12px;
              color: #fff;
              background: #1176c8;

              &:hover {
                background: #1584de;
              }
            }
          }
        }
      }
    }

    .cover-tab {
      .tab-item {
        &.review {
          position: relative;

          .cover-content {
            .box-content {
              .content-box {
                .box-detail {
                  padding-bottom: 6px;

                  .title-b-detail {
                    padding: 5px 93px 6px 0;

                    .sub-title {
                      display: none;
                    }

                    .click-delete {
                      display: none;
                    }
                  }

                  .list-title {
                    .item-title {
                      margin-bottom: 4px;

                      .name-item {
                        top: auto;
                        position: relative;

                        .click-noti {
                          display: none;
                        }

                        .red-symbol {
                          display: none;
                        }

                        .two-dots {
                          display: inline-block;
                          margin-left: 3px;
                        }
                      }

                      .text-right-input {
                        line-height: 20px;
                        white-space: nowrap;
                      }

                      .cover-check {
                        display: none;
                      }

                      .box-input {
                        display: none;
                      }

                      .cover-input {
                        display: none;
                      }

                      .cover-area {
                        display: none;
                      }
                    }
                  }
                }

                .bottom-box {
                  display: none;
                }
              }
            }

            .bottom-btn {
              display: none;
            }

            &.edit-ver {
              .top-title {
                .right-top {
                  .click-item {
                    display: none;
                  }
                }
              }

              .box-content {
                .content-box {
                  .box-detail {
                    .title-b-detail {
                      padding: 6px 93px 13px 0;

                      .sub-title {
                        display: block;
                      }

                      .click-delete {
                        display: flex;
                      }
                    }
                  }

                  .bottom-box {
                    display: flex;
                  }

                  .list-title {
                    .item-title {
                      margin-bottom: 15px;

                      .name-item {
                        top: 10px;
                        position: relative;

                        .click-noti {
                          display: inline-block;
                        }

                        .red-symbol {
                          display: inline-block;
                        }

                        .two-dots {
                          display: none;
                        }
                      }

                      .text-right-input {
                        display: none;
                      }

                      .cover-check {
                        display: flex;
                      }

                      .box-input {
                        display: block;
                      }

                      .cover-input {
                        display: block;
                      }

                      .cover-area {
                        display: block;
                      }
                    }
                  }
                }
              }

              .bottom-btn {
                display: flex;
              }
            }

            &.collapse-ver {
              padding-bottom: 27px;

              .top-title {
                .right-top {
                  .click-expand {
                    transform: rotate(180deg);
                  }
                }
              }

              .box-content {
                display: none;
              }

              &.edit-ver {
                .bottom-btn {
                  display: none;
                }
              }
            }
          }
        }
      }
    }
  }

  // bottom btn
  .bottom-tab {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 789px;
    margin: 40px auto 0;

    .btn-cancel {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 36px;
      padding: 0 15px;
      font-size: 14px;
      @include proximanova-semibold;
      color: #1176c8;
      background: #fff;
      border-radius: 4px;
      border: none;
      outline: none;
      text-transform: capitalize;
      position: relative;

      &:hover {
        opacity: 0.8;
      }

      img {
        display: block;
        width: 6px;
        position: absolute;
        top: calc(50% - 5px);
        right: 15px;
      }

      &.next {
        padding-right: 27px;
        color: #fff;
        background: #1176c8;

        &:disabled {
          pointer-events: none;
          opacity: 0.5;
        }
      }

      &.request {
        padding-left: 35px;
        color: #fff;
        background: #18a691;

        img {
          width: 16px;
          right: auto;
          top: calc(50% - 8px);
          left: 10px;
        }

        :disabled {
          pointer-events: none;
          opacity: 0.5;
        }
      }
    }
  }
}

// checkbox style
.tick-radio {
  display: block;
  height: 16px;
  float: left;
  padding-left: 24px;
  cursor: pointer;
  position: relative;
}

.tick-radio span {
  display: block;
  line-height: 19px;
  font-size: 13px;
  font-style: normal;
  font-weight: normal;
  position: relative;
  top: 0px;
}

.tick-radio::before,
.tick-radio::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
}

.tick-radio::before {
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #fff;
  border: 1px solid #ddd;
}

.tick-radio::after {
  display: none;
  width: 6px;
  height: 6px;
  background-color: #1176c8;
  border-radius: 50%;
  background-size: cover;
  z-index: 10;
}

input:checked + .tick-radio::before {
  border-color: #1176c8;
}

input:checked + .tick-radio::after {
  display: block;
  top: 5px;
  left: 5px;
}

// checkbox style
.tick-me {
  display: block;
  max-width: 390px;
  height: 16px;
  float: left;
  padding-left: 24px;
  cursor: pointer;
  position: relative;
}

.tick-me span {
  display: block;
  line-height: 16px;
  font-size: 13px;
  font-style: normal;
  font-weight: normal;
  position: relative;
  top: 0px;
}

.tick-me img {
  display: none;
  width: 15px;
  height: 15px;
  position: absolute;
  top: 1px;
  left: 1px;
  z-index: 1;
}

.tick-me .red-symbol {
  display: inline-block;
  padding-left: 3px;
  font-size: 16px;
  color: #d5151c;
  position: relative;
  top: 2px;
}

.tick-me::before,
.tick-me::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
}

.tick-me::before {
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 4px;
  background-color: #fff;
  border: 1px solid #ddd;
}

input:checked + .tick-me::before {
  background-color: #18a691;
  border: none;
}

input:checked + .tick-me img {
  display: block;
}
