@mixin inputText($fontsize, $color, $colorplace) {
  display: block;
  height: 100%;
  width: 100%;
  color: $color;
  font-size: $fontsize;
  font-family: 'Proxima Nova', Helvetica, Arial, sans-serif;
  font-weight: 400;
  border: none;
  outline: none;
  background: transparent;
  margin: 0;
  padding: 0;
  &::-webkit-input-placeholder {
    color: $colorplace;
    opacity: 1;
  }
  &::-moz-placeholder {
    color: $colorplace;
    opacity: 1;
  }
  &:-ms-input-placeholder {
    color: $colorplace;
    opacity: 1;
  }
  &:-moz-placeholder {
    color: $colorplace;
    opacity: 1;
  }
  &:focus::-webkit-input-placeholder {
    color: transparent;
  }
  &:focus:-moz-placeholder {
    color: transparent;
  }
  &:focus::-moz-placeholder {
    color: transparent;
  }
  &:focus:-ms-input-placeholder {
    color: transparent;
  }
}
