/* Font styles. */
@mixin proximanova {
  font-family: "Proxima Nova", Helvetica, Arial, sans-serif;
  font-weight: 400;
}

@mixin proximanova-semibold {
  font-family: "Proxima Nova", Helvetica, Arial, sans-serif;
  font-weight: 600;
}

@mixin proximanova-bold {
  font-family: "Proxima Nova", Helvetica, Arial, sans-serif;
  font-weight: 700;
}
