@import '~styles/_includes.scss';
@import '~styles/mixins/_input.scss';

.my-appointments-page {
  min-height: calc(100vh - 100px);
  background: #f5f5f5;
  position: relative;
  min-width: 1349px;

  .header-page {
    height: 76px;
    padding: 0 33px;
    background: #fff;
    border-top: 1px solid $gray-border;

    .wrapAll {
      min-width: 1349px;
      max-width: 1349px;
      margin: 0 auto;
    }

    h1 {
      @include proximanova-bold;
      font-size: 24px;
    }

    .control {
      .btn-create {
        width: 186px;
        height: 36px;
        background: $green-light;
        border-radius: 4px;
        &:hover {
          background: #1dbfa7;
        }
        .name {
          @include proximanova-bold;
          font-size: 14px;
          color: $white;
          margin-left: 10px;
        }
      }

      .toggle-switch {
        width: 170px;
        height: 36px;
        margin-right: 20px;
        background: rgba(245, 245, 245, 0.5);

        .name {
          line-height: 20px;
          margin-right: 20px;
          color: #585864;
        }

        input[type='checkbox'] {
          height: 0;
          width: 0;
          visibility: hidden;
        }

        label {
          cursor: pointer;
          display: block;
          width: 32px;
          height: 20px;
          margin: 0;
          background: #ecf0f5;
          border-radius: 16px;
          position: relative;
        }

        label > .ball {
          display: block;
          width: 13px;
          height: 13px;
          background: #fff;
          border-radius: 50%;
          transition: 0.3s;
          position: absolute;
          top: 3px;
          left: 3px;
        }

        input:checked + label {
          background: #1176c8;
        }

        input:checked + label > .ball {
          left: calc(100% - 3px);
          transform: translateX(-100%);
        }

        label:active > .ball {
          width: 15px;
        }
      }
    }
  }

  .main-container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 20px 0 60px;

    .appointment-cards {
      margin-bottom: 20px;
      .appointment-card-item {
        width: 410px;
        margin-right: 35px;
        &:last-child {
          margin-right: 0;
        }
      }
    }

    .group-upcoming-appointments {
      width: 100%;
      margin-bottom: 20px;
      padding: 0 20px 20px;
      border-radius: 4px;
      background: #fff;
      position: relative;
      &.all-appointments {
        margin-bottom: 0;
      }

      .head-content {
        display: flex;
        align-items: center;
        height: 77px;
        position: relative;
        .main-title {
          @include proximanova-semibold;
          font-size: 16px;
        }
        .group-actions {
          display: flex;
          align-items: center;
          height: 36px;
          position: absolute;
          top: 20px;
          right: 20px;
          z-index: 10;
          .box-search {
            display: flex;
            align-items: center;
            width: 360px;
            height: 36px;
            padding: 0 10px 0 36px;
            border-radius: 4px;
            border: 1px solid #d4d4d4;
            background: #fff;
            overflow: hidden;
            position: relative;
            img {
              display: block;
              cursor: pointer;
              position: absolute;
              top: 9px;
              left: 10px;
            }
            input {
              @include inputText(13px, #585864, #9494a8);
            }
          }
          .btn-filter {
            width: 90px;
            height: 36px;
            background: #1176c8;
            border-radius: 4px;
            cursor: pointer;
            margin-left: 10px;
            &:hover {
              background: #1584de;
            }
            .name {
              @include proximanova-bold;
              font-size: 14px;
              color: $white;
              margin-left: 10px;
            }
          }
        }
      }
    }
  }
}

.appointment-table {
  // %col
  .col01 {
    width: 16.59%;
    padding-left: 20px;
  }
  .col02 {
    width: 13.17%;
  }
  .col03 {
    width: 17.06%;
  }
  .col04 {
    width: 19.37%;
  }
  .col05 {
    width: 11.67%;
  }
  .col06 {
    width: 8.17%;
  }
  .col07 {
    width: 9.68%;
  }

  // colors
  .requested {
    background: #f07acc;
  }
  .reserved {
    background: #f6a934;
  }
  .confirmed {
    background: #57a6e6;
  }
  .in-rogress {
    background: #1176c8;
  }
  .complete {
    background: #18a691;
  }
  .incomplete {
    background: #ecf0f5;
  }
  .canceled {
    background: #ff434a;
  }

  table,
  thead,
  tbody,
  tr {
    width: 100%;
  }

  thead {
    tr {
      height: 36px;
      th {
        height: 36px;
        background: #4e4e5d;
        vertical-align: middle;
        &.col01 {
          border-radius: 4px 0 0 4px;
        }
        &.col08 {
          border-radius: 0 4px 4px 0;
        }

        .name-col {
          @include proximanova-semibold;
          font-size: 13px;
          color: #fff;
        }
      }
    }
  }
  tbody {
    tr {
      &:nth-child(even) {
        background: rgba(245, 245, 245, 0.5);
      }

      td {
        position: relative;
        &.col03 {
          .group-technician {
            position: relative;
            .value {
              cursor: pointer;
            }
            .value:hover + .tooltip-technician {
              display: block;
            }
          }
        }
        &.col04 {
          .value {
            display: inline-block;
            &:first-child {
              margin-bottom: 8px;
            }
            .bold {
              @include proximanova-semibold;
              display: inline-block;
              min-width: 58px;
              text-transform: uppercase;
            }
          }
          .group-datetime {
            padding: 12px 0;
            position: relative;
            .current-content {
              cursor: pointer;
            }
            .current-content:hover + .tooltip-datetime {
              display: block;
            }
          }
        }
        &.col08 {
          .group-action {
            width: 40px;
            height: 34px;
            position: relative;
            top: 4px;
            .btn-menu {
              width: 40px;
              height: 34px;
              cursor: pointer;
            }
          }
        }
      }

      .value {
        font-size: 13px;
        color: #585864;
        &.id {
          @include proximanova-semibold;
          color: #1176c8;
          cursor: pointer;
          &:hover {
            color: #0f87e9;
          }
        }
      }
      .status {
        display: flex;
        align-items: center;
        .dot {
          display: block;
          width: 8px;
          height: 8px;
          margin-right: 8px;
          border-radius: 50%;
        }
        .name {
          font-size: 13px;
          color: #585864;
        }
      }
      .style-tooltip {
        border-radius: 4px;
        background: #fff;
        border: 1px solid #d4d4d4;
        box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.05);
        overflow: hidden;
        position: absolute;
        z-index: 5;
      }
      .tooltip-technician {
        display: none;
        width: 150px;
        padding: 18px 0 18px 16px;
        top: 23px;
        left: 8px;
        .bold-title {
          @include proximanova-semibold;
          font-size: 14px;
          margin-bottom: 16px;
          display: block;
        }
        .members {
          display: flex;
          flex-direction: column;
          .member {
            font-size: 13px;
            color: #585864;
            margin-bottom: 15px;
            &:last-child {
              margin-bottom: 0;
            }
          }
        }
      }
      .tooltip-datetime {
        display: none;
        width: 220px;
        height: 120px;
        padding-top: 19px;
        padding-left: 16px;
        top: 35px;
        left: 50%;
        .bold-title {
          @include proximanova-semibold;
          font-size: 14px;
          margin-bottom: 6px;
          display: block;
        }
        .bold-subtitle {
          font-size: 13px;
          color: #585864;
          margin-bottom: 16px;
          display: block;
        }
        .current-child-content {
          .value {
            display: inline-block;
            font-size: 13px;
            color: #585864;
            &:first-child {
              margin-bottom: 8px;
            }
            .bold {
              @include proximanova-semibold;
              display: inline-block;
              min-width: 58px;
              color: #585864;
              text-transform: uppercase;
            }
          }
        }
      }
      .tooltip-actions {
        display: none;
        width: 220px;
        height: 128px;
        padding-top: 20px;
        padding-left: 14px;
        top: 30px;
        right: 10px;
        .item {
          display: flex;
          align-items: center;
          margin-bottom: 20px;
          cursor: pointer;
          &.last {
            margin-bottom: 0;
          }
          .name {
            font-size: 13px;
            color: #585864;
            margin-left: 10px;
          }
        }
      }
    }
  }
}
