@import '~styles/_includes.scss';
@import '~styles/mixins/_input.scss';

.modal-calen {
  width: 851px;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, .1);
  margin: 0 auto;
  position: relative;
  z-index: 100;

  .cover-modal {
    display: flex;
  }

  .left-modal {
    width: 336px;
    padding: 30px;
    border-right: 1px solid #ECF0F5;
  }

  .right-modal {
    width: calc(100% - 336px);
    min-height: 378px;
    padding: 30px;
    position: relative;

    .title-day {
      display: block;
      margin-bottom: 22px;
      font-size: 24px;
      text-transform: capitalize;
    }

    .found-slot-text {
      display: block;
      margin-bottom: 46px;
      font-size: 16px;
      @include proximanova-semibold;
    }

    .no-slot-text {
      display: block;
      margin-bottom: 15px;
      font-size: 16px;
      @include proximanova-semibold;
    }

    .hint {
      display: inline-block;
      margin: 10px 0 25px;
      font-size: 13px;
      .click-here {
        @include proximanova-semibold;
        font-size: 13px;
        color: #1176c8;
        cursor: pointer;
      }
    }

    // bottom btn 
    .bottom-btn {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      padding: 0 30px;
      position: absolute;
      left: 0;
      bottom: 30px;

      .btn-cancel {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 36px;
        padding: 0 15px;
        font-size: 14px;
        @include proximanova-semibold;
        color: #1176C8;
        background: #F2F5FA;
        border-radius: 4px;
        border: none;
        outline: none;
        text-transform: capitalize;
        position: relative;

        &:hover {
          opacity: 0.8;
        }

        img {
          display: block;
          width: 6px;
          position: absolute;
          top: calc(50% - 5px);
          right: 15px;
        }

        &.next {
          padding-right: 27px;
          color: #fff;
          background: #1176C8;

          :disabled {
            pointer-events: none;
            opacity: 0.5;
          }
        }

        &.request {
          padding-left: 35px;
          color: #fff;
          background: #18A691;

          img {
            width: 16px;
            right: auto;
            top: calc(50% - 8px);
            left: 10px;
          }

          &:disabled {
            pointer-events: none;
            opacity: 0.5;
          }
        }
      }
    }

    .txt-select {
      display: block;
      font-size: 13px;
      color: #000000;
      margin-top: 18px;
    }

    .box-avaliable {
      &.box-avaliable-prev {
        margin-top: 17px;
      }

      .title-box {
        display: block;
        margin-bottom: 9px;
        font-size: 14px;
      }

      .list-avaliable {
        display: flex;
        flex-wrap: wrap;

        .item-list {
          padding-right: 20px;
          position: relative;

          &:last-child {
            padding-right: 0;

            &:before {
              display: none;
            }
          }

          &:before {
            content: '';
            display: block;
            width: 2px;
            height: 13px;
            background: #9494A8;
            position: absolute;
            top: 1px;
            right: 10px;
          }

          .day-march {
            display: block;
            font-size: 16px;
            @include proximanova-semibold;
            border: none;
            background-color: transparent;
            color: #1176C8;
            text-transform: capitalize;
            outline: none;
          }
        }
      }
    }

    .box-found {
      .list-title {
        padding-bottom: 74px;

        .item-title {
          margin-bottom: 20px;

          &:last-child {
            margin-bottom: 0;
          }

          .title-item {
            display: block;
            margin-bottom: 8px;
            font-size: 14px;
            @include proximanova-semibold;
          }

          .list-sub {
            display: flex;
            flex-wrap: wrap;

            .item-sub {
              display: flex;
              align-items: center;
              justify-content: center;
              width: 221px;
              height: 50px;
              margin-right: 10px;
              margin-bottom: 10px;
              background: #F2F5FA;
              border-radius: 4px;
              position: relative;

              &:nth-child(2n) {
                margin-right: 0;
              }

              .text-time {
                display: block;
                font-size: 18px;
                color: #1176C8;
                text-transform: uppercase;
              }

              .click-green-tick {
                display: none;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                border: 2px solid #fff;
                box-shadow: 0 0 4px 2px rgba(0, 0, 0, .1);
                position: absolute;
                top: -7px;
                right: -7px;

                img {
                  display: block;
                  width: 16px;
                }
              }

              &.active {
                background: #1176C8;

                .text-time {
                  color: #fff;
                  @include proximanova-semibold;
                }

                .click-green-tick {
                  display: block;
                }
              }
            }
          }
        }

      }
    }

    .box-input {
      .title-input {
        display: block;
        margin-bottom: 9px;
        font-size: 14px;
      }

      .cover-input {
        width: 100%;
        height: 32px;
        position: relative;

        input {
          @include inputText(13px, #292933, #9494A8);
          padding: 0 12px;
          border: 1px solid #D4D4D4;
          border-radius: 4px;

        }

        .click-calen {
          display: block;
          width: 16px;
          height: 16px;
          position: absolute;
          top: calc(50% - 8px);
          right: 12px;
          cursor: pointer;

          img {
            display: block;
            width: 16px;
          }
        }
      }
    }
  }
}