@import '~styles/_includes.scss';

.modal-error-apt {
  .modal-container {
    display: block;
    width: 530px;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, .1);
    padding: 30px;
    margin: 0 auto;
    position: relative;
  
    .group-title {
      padding-bottom: 20px;
      border-bottom: 1px solid #ecf0f5;
      position: relative;
  
      .big-title {
        @include proximanova-bold;
        line-height: 32px;
        font-size: 24px;
        margin-bottom: 0;
        padding: 0;
        display: block;
      }
  
      .warning {
        @include proximanova-semibold;
        line-height: 32px;
        font-size: 16px;
        margin-bottom: 0;
        display: block;
      }
  
      .btn-close {
        position: absolute;
        top: 10px;
        right: 0;
        z-index: 5;
      }
    }
  
    .group-description {
      .notice {
        display: block;
        font-size: 13px;
        margin: 14px 0 10px;
      }
  
      .status {
        display: block;
        font-size: 13px;
        color: #1176c8;
        cursor: pointer;
      }
  
      .error-details-content {
        height: 295px;
        padding: 20px;
        margin-top: 15px;
        border-radius: 4px;
        background: #f5f5f5;
  
        p {
          line-height: 24px;
          font-size: 13px;
        }
      }
  
      .box-spinner {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
  
        .spinner-border {
          width: 32px;
          height: 32px;
          border: 5px solid #1176C8;
          border-right-color: #D4D4D4;
        }
      }
    }
  
    .buttons {
      display: flex;
      justify-content: space-between;
      height: 36px;
      margin-top: 30px;
  
      .style-btn {
        @include proximanova-bold;
        font-size: 14px;
        height: 36px;
        border-radius: 4px;
        color: #fff;
        background: #1176c8;
        width: 90px;
        cursor: pointer;
  
        &:hover {
          background: #1584de;
        }
  
        &.btn-cancel {
          background: #f2f5fa;
          color: #1176c8;
          width: 74px;
  
          &:hover {
            background: #e7edf8;
          }
        }
      }
    }
  }
}