$green-light: #18a691;

$blue-light: #1176C8;
$gray-border: #ECF0F5;
$gray-border-dark: #D4D4D4;
$gray-dark: #585864;
$gray-dark-bg: #4E4E5D;
$gray-bg: #F5F5F5;
$gray-placeholder: #9494A8;
$black: #292933;
$pink: #E20074;
$pink-light: #F07ACC;
$cyan: #18A691;
$red: #D5151C;
$white: #fff;