@import '~styles/_includes.scss';
@import '~styles/mixins/_input.scss';

.appointment-detail {
  width: 100%;
  min-width: 1349px;
  min-height: calc(100vh - 100px);
  background: #f5f5f5;
  .top-page {
    display: flex;
    align-items: center;
    height: 86px;
    padding-left: 33px;
    padding-bottom: 10px;
    background: #fff;
    position: relative;
    .cover-top-page {
      min-width: 1349px;
      margin: 0 auto;
    }
    .title-page {
      display: block;
      font-size: 24px;
      @include proximanova-bold;
      text-transform: capitalize;
    }
    .status-user {
      display: block;
      text-transform: capitalize;
      position: absolute;
      top: 57px;
      .circle-status {
        display: inline-block;
        width: 8px;
        height: 8px;
        margin-right: 7px;
        border-radius: 50%;
      }
      .requested {
        background: #f07acc;
      }
      .reserved {
        background: #f6a934;
      }
      .confirmed {
        background: #57a6e6;
      }
      .in-progress {
        background: #1176c8;
      }
      .complete {
        background: #18a691;
      }
      .incomplete {
        background: #ecf0f5;
      }
      .canceled {
        background: #ff434a;
      }
    }
  }
  .tab-item {
    padding-top: 20px;
    padding-bottom: 60px;
    background: #f5f5f5;
    // second s page
    .cover-content {
      width: 789px;
      margin: 0 auto 20px;
      padding: 0 30px 30px;
      background: #fff;
      position: relative;
      .box-content {
        position: relative;
        .content-box {
          position: relative;
          // box-detail
          .box-detail {
            padding-top: 24px;
            padding-bottom: 5px;
            border-top: 1px solid #ecf0f5;
            &.brown-ver {
              margin-bottom: 15px;
              padding-left: 15px;
              background: #f5f5f5;
            }

            &:nth-child(1) {
              padding-top: 15px;
              border-top: none;
            }
            .title-b-detail {
              display: flex;
              justify-content: space-between;
              padding: 6px 93px 13px 0;
              font-size: 14px;
              @include proximanova-semibold;
              text-transform: capitalize;
              position: relative;
              .sub-title {
                font-weight: normal;
              }
            }
            .first-title {
              display: block;
              padding: 6px 0 13px;
              font-size: 14px;
              @include proximanova-semibold;
              text-transform: capitalize;
            }
            .list-title {
              padding-top: 5px;
              .item-title {
                display: flex;
                margin-bottom: 15px;
                padding-right: 93px;
                .name-item {
                  width: calc(100% - 390px);
                  top: -3px;
                  text-transform: capitalize;
                  position: relative;
                  .two-dots {
                    display: inline-block;
                    margin-left: 3px;
                  }
                }
                .text-area {
                  width: 86%;
                  line-height: 20px;
                }
              }
            }
          }
        }
      }
      // top title
      .top-title {
        padding-top: 27px;
        position: relative;
        .title-box {
          display: block;
          font-size: 16px;
          @include proximanova-semibold;
          text-transform: capitalize;
        }
        .right-top {
          display: flex;
          align-items: center;
          height: 16px;
          position: absolute;
          top: 28px;
          right: 0;
          .click-expand {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 16px;
            height: 16px;
            cursor: pointer;
            img {
              display: block;
              width: 16px;
            }
          }
        }
      }

      // bottom btn
      .bottom-btn {
        display: flex;
        align-items: center;
        .btn-cancel {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 75px;
          height: 36px;
          font-size: 14px;
          @include proximanova-semibold;
          color: #fff;
          background: #18a691;
          border-radius: 4px;
          border: none;
          outline: none;
          text-transform: capitalize;
          position: relative;
          &:hover {
            background: #1dbfa7;
          }
          img {
            display: block;
            width: 6px;
            position: absolute;
            top: calc(50% - 5px);
            right: 15px;
          }
          &.next {
            margin-left: 10px;
            background: #d5151c;
            &:hover {
              background: #f3363d;
            }
          }
        }
      }
      &.collapse-ver {
        padding-bottom: 27px;
        .top-title {
          .right-top {
            .click-expand {
              transform: rotate(180deg);
            }
          }
        }
        .box-content {
          display: none;
        }
        .bottom-btn {
          display: none;
        }
      }
    }
  }
}
