@import '~styles/_includes.scss';

.react-datepicker {
  border: none;
  border-radius: 0;

  * {
    @include proximanova;
  }

  .react-datepicker__navigation {
    width: 8px;
    height: 14px;
    border: none;
    top: 12px;
    outline: none;

    &.react-datepicker__navigation--previous {
      background-image: url(../../../assets/icons/ic-arow-back-thin.svg);
      left: 17px;
    }

    &.react-datepicker__navigation--next {
      background-image: url(../../../assets/icons/ic-arow-next-thin.svg);
      right: 17px;
    }
  }

  .react-datepicker__month-container {
    .react-datepicker__header {
      background-color: transparent;
      border: none;
      padding: 0;

      .react-datepicker__current-month {
        @include proximanova-bold;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 39px;
        font-size: 14px;
        color: #000000;
        border-radius: 4px;
        background-color: #f2f5fa;
      }

      .react-datepicker__day-names {
        margin-top: 12px;

        .react-datepicker__day-name {
          width: 32px;
          line-height: 19px;
        }
      }
    }

    .react-datepicker__month {
      .react-datepicker__week {
        .react-datepicker__day {
          width: 32px;
          height: 32px;
          line-height: 19px;
          outline: none;

          span {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            color: #292933;
            font-size: 14px;
          }

          &.react-datepicker__day--selected {
            background-color: #0478b7;
            border-radius: 50%;

            span {
              color: #ffffff;
            }
          }

          &.react-datepicker__day--highlighted {
            background-color: transparent;
            border-radius: 0;

            span {
              @include proximanova-semibold;
              color: #1176c8;
            }

            &.react-datepicker__day--selected {
              background-color: #0478b7;
              border-radius: 50%;

              span {
                color: #ffffff;
              }
            }
          }

          &.react-datepicker__day--outside-month {
            span {
              font-size: 15px;
              color: #aaaaaa;
            }
          }

          &:hover {
            background-color: #f2f5fa;
            border-radius: 50%;

            span {
              color: #1176c8;
              @include proximanova-semibold;
            }
          }
        }
      }
    }
  }
}
