@import "~styles/_includes.scss";

.component-container {
  padding-top: 4px;
  width: 100%;
}

.title {
  @include proximanova-bold;

  font-size: 24px;
  line-height: 29px;
  color: $black;
}

.sub-title {
  @include proximanova-semibold;

  font-size: 16px;
  line-height: 16px;
  margin-top: 6px;
  color: $black;
  margin-bottom: 34px;
}

.bottom-buttons {
  margin-top: 5px;
}