@import "~styles/_includes.scss";

.title {
  @include proximanova-bold;

  margin: 23px auto 4px 33px;
  font-size: 24px;
  line-height: 29px;
  color: $black;
}

.status-container {
  margin: 0 auto 15px 33px;

  .dot {
    margin-right: 7px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: $pink-light;
  }
}

.content-container {
  background: $gray-bg;
  padding: 20px;
}

.accordion {
  max-width: 789px;
  width: 100%;

  :global {
    .accordion {
      margin-bottom: 20px;

      .card {
        border: none;
        border-radius: 4px;

        .card-header {
          background: white;
          border: none;
          padding: 27px 30px;
          cursor: pointer;
        }

        .collapsing,
        .collapse {
          margin-top: -9px;

          .card-body {
            padding: 0 30px;
            overflow: auto;
            padding-bottom: 29px;

            &.empty {
              padding-bottom: 9px;
            }
          }
        }
      }
    }
  }

  .header-title {
    @include proximanova-semibold;

    font-size: 16px;
    line-height: 16px;
  }

  .body-title {
    @include proximanova-semibold;

    font-size: 14px;
    line-height: 14px;
    color: $black;
    margin-bottom: 8px;

    &.body-title-1 {
      margin-top: 2px;
    }

    &.body-title-2 {
      margin-top: 7px;
    }
  }

  .body-separator {
    width: 100%;
    height: 1px;
    background: $gray-border;
    margin: 19px 0 17px 0;
  }

  .body-info {
    span {
      line-height: 24px;

      &:first-child {
        width: 206px;
        margin-right: 10px;
      }
    }
  }

  .group-info {
    padding: 18px 15px;
    background: $gray-bg;
    margin-top: 20px;
    border-radius: 4px;

    .body-info {
      span {
        line-height: 24px;

        &:first-child {
          width: 191px;
          margin-right: 10px;
        }
      }
    }
  }

  .button-group {
    margin-top: 24px;

    button {
      &:first-child {
        margin-right: 10px;
      }
    }
  }

  .text-area {
    line-height: 20px;
  }

  .selectAvailable-techinician {
    margin-top: 0;
  }
}