@import "~styles/_includes.scss";

/* .drop-down */
.drop-down {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;

  * {
    @include proximanova;
  }

  &.error-ver {
    .dropdown-btn {
      border: 1px solid #D5151C;
    }
  }

  &.disabled {
    .dropdown-btn {
      cursor: default;
      pointer-events: none;
      opacity: 0.5;
    }
  }

  &.open {
    .dropdown-btn {
      border: 1px solid #1176C8;
    }

    .icon-arrow-down {
      transform: rotate(-180deg);
    }

    .drop-menu {
      display: block;
    }
  }

  .dropdown-btn {
    width: 100%;
    position: relative;
    display: block;
    padding-left: 11px;
    padding-right: 50px;
    height: 36px;
    border-radius: 4px;
    border: 1px solid #D4D4D4;
    background-color: #FFFFFF;
    border-radius: 4px;
    outline: none;

    .value {
      display: block;
      color: #4a4d4e;
      font-size: 13px;
      font-weight: 400;
      white-space: nowrap;
      text-align: left;

      &.placeholder {
        color: #9494A8;
      }
    }
  }

  .icon-arrow-down {
    position: absolute;
    right: 11px;
    top: calc(50% - 3px);
  }

  .drop-menu {
    display: none;
    width: 100%;
    text-align: center;
    padding: 3px 0;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    background-color: #fff;
    border: 1px solid #D4D4D4;
    max-height: 185px;
    overflow: auto;
    position: absolute;
    top: calc(100% + 3px);
    left: 0;
    z-index: 100;

    li {
      display: block;
      width: 100%;
      height: 36px;

      button {
        display: block;
        width: 100%;
        height: 100%;
        box-shadow: none;
        border: none;
        background-color: transparent;
        font-size: 13px;
        color: #585864;
        padding: 0 11px;
        outline: none;
        text-align: left;

        &.active,
        &:hover {
          background-color: #F2F5FA;
        }
      }
    }
  }
}