@import "~styles/_includes.scss";

.component-container {
  width: 430px;
  height: 189px;
  border-radius: 4px;
  border: 1px solid $gray-border-dark;
  padding: 29px 20px;
}

.title {
  @include proximanova-semibold;

  margin-bottom: 12px;
  font-size: 16px;
  line-height: 16px;
}

.bottom-buttons {
  button:first-child {
    margin-right: 10px;
  }
}
