@import '~styles/_includes.scss';

// Showing n Pagination
.showing-n-pagination {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 11px 15px;
  position: relative;
  top: 10px;

  // Pagination
  .group-pagination {
    height: 100%;
    position: relative;

    ul {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      margin: 0;
      position: relative;

      li {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        margin-right: 5px;
        padding: 0;

        &:first-child,
        &:last-child {
          &:hover {
            .page-link {
              background-color: transparent;
            }
          }
        }

        &:last-child {
          margin-right: 0;
        }

        .page-link {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 16px;
          height: 16px;
          background-color: transparent;
          border: none;
          box-shadow: none;
          color: #9494a8;
          padding: 0;
          text-decoration: none;

          .btn-page {
            font-size: 13px;
            color: #9494a8;
          }

          &.btn-prev {
            img {
              transform: rotate(180deg);
            }

            &.btn-next {
              img {
                transform: rotate(0deg);
              }
            }
          }
        }

        &.active,
        &:hover {
          .page-link {
            border-radius: 50%;
            background-color: #1176c8;

            .btn-page {
              color: #ffffff;
            }
          }
        }

        &.disabled {
          .page-link {
            pointer-events: none;
            cursor: auto;
            opacity: 0.5;
          }
        }
      }
    }
  }

  // Showing
  .group-showing {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    position: relative;

    .display {
      @include proximanova-semibold;
      display: flex;
      align-items: center;
      border: none;
      background-color: transparent;
      font-size: 13px;
      color: #1176c8;
      outline: none;
      &:hover {
        color: #1584de;
      }
    }
  }
}
