@import '~styles/_includes.scss';

.modal-container {
  display: block;
  width: 530px;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, .1);
  padding: 35px 30px 65px;
  margin: 0 auto;
  position: relative;
  .btn-close {
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 10;
  }
  .big-title {
    @include proximanova-bold;
    line-height: 32px;
    font-size: 24px;
    margin-bottom: 12px;
    display: block;
  }
  .modal-container__body {
    .info {
      &.clone {
        margin-top: 20px;
      }
      .title {
        @include proximanova-semibold;
        line-height: 32px;
        font-size: 16px;
        margin-bottom: 10px;
        display: block;
      }
      .rows {
        border-top: 1px solid #ecf0f5;
        .row-item {
          display: flex;
          align-items: center;
          height: 36px;
          border-bottom: 1px solid #ecf0f5;
          .row-item-name {
            min-width: 175px;
            font-size: 13px;
            color: #585864;
          }
          .row-item-value {
            font-size: 13px;
            color: #292933;
            &.email {
              color: #1176c8;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}
